body {
  background-color: black;
  display: flex;
  overflow: hidden;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.card {
    width: 60px;
    height: 90px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_count{
    font-weight: bold;
    visibility: hidden;
    background-color: white;
    font-size: 20px;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 4px solid;
    border-radius: 12px;
    border-color: black;
    padding: 7px;
    opacity: 0;
}

#card_count.visible {
    visibility: visible;
    opacity: 1;
}

#card_count_area{
    position: absolute;
    bottom: 51px;
    right: 75px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#card_count_button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 24px;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#dealer_area {
    text-align: center;
}

#dealer_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

#dealer_score {
    font-weight: bold;
    font-size: 25px;
}

#deck_count {
    width: 40px;
    margin-right: 7.5px;
    transform: scale(1.2);
}

#deck_selection {
    margin: auto;
    font-size: 18pt;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

#deck_submit {
    width: 55px;
    margin-left: 7.5px;
    transform: scale(1.25);
}

#error_message {
    display: none;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    align-items: center;
    justify-content: center;
}

#game_area {
    display: none;
}

#new_game_controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#message {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

#play_space{
    background-color: rgb(38, 143, 38);
    border: solid;
    border-color: brown;
    border-radius: 20px;
    margin: auto;
    width: 900px;
    height: 625px;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

#player_area {
    text-align: center;
}

#player_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

#player_score {
    font-weight: bold;
    font-size: 25px;
}